.experience-section {
  padding-bottom: 3.5rem;
}

.experience-container {
  background-color: black;
  border: 0.1px solid rgb(46, 46, 46);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.experience-item {
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 1149px;
  margin-left: auto;
  margin-right: auto;
}

.experience-item:hover {
  transform: translateY(-10px);
}

.experience-inner-bg {
  padding: 50px;
  padding-bottom: 30px;
  background-color: #212121;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 30px 0 -20px #d63447;
}

.experience-inner-bg .quote {
  font-size: 80px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d63447;
}

.experience-inner-bg blockquote {
  color: #fff;
  margin: 0 0 1rem;
}

.experience-author-info {
  background-color: black;
  /* z-index: 2; */
  margin-top: -45px;
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: none;
}

.experience-author-info img {
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  position: absolute;
  top: -20px;
  z-index: 3;
  margin-top: 20px;
}

.experience-author-info h3 {
  margin-top: 60px;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.position {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

.duration {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

@media (min-width: 576px) {
  .experience-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .experience-container {
    max-width: 720px;
  }

  .experience-item {
    flex: 1 0 45%;
  }
}

@media (max-width: 991.98px) {
  .experience-inner-bg {
    font-size: 16px;
    line-height: 32px;
  }
}

@media (min-width: 992px) {
  .experience-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .experience-container {
    max-width: 1140px;
  }
}
