body {
  overflow-x: hidden;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  opacity: 0;
  visibility: hidden;
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  /* height: fit-content; */
  max-height: 100vh;
  width: 30%;
  max-width: 100vw;
  background: white;
  z-index: 1001;
  /* transform: translateX(-100%); */
  z-index: 1001;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* opacity: 1;
  visibility: visible; */
}

/* .mobile-menu .slide-in {
  transform: translateX(0);
  opacity: 0;
  visibility: hidden;
} */

.mobile-menu .close-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 20px;
}

.menu-close {
  color: #000;
  text-decoration: none !important;
  display: flex;
  gap: 2px;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.close-label {
  color: #d63447;
  font-size: 14px;
}

.mobile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile-logo-link {
  filter: drop-shadow(1px 1px 1px #d63447);
  text-decoration: none !important;
}

.mobile-link {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}
