.navbar {
  position: absolute;
  padding: 30px 0;
  left: 0;
  top: 0;
  z-index: 1002;
  width: 100%;
  background: inherit;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.logo-link {
  text-decoration: none !important;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.red-dot {
  color: #d63447;
}

.navbar-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  height: 50px;
}

.navbar-left {
  text-align: right;
  max-width: 41.66667%;
  flex: 0 0 auto;
}

.navbar-right {
  text-align: left;
  flex: 0 0 auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links .nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links .nav-link:hover {
  color: #f1c40f;
}

.menu-toggle {
  display: none;
}

.scrolled {
  background-color: white;
  padding: 5px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.scrolled .navbar-links .nav-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.scrolled .navbar-links .nav-link:hover {
  color: red;
}

.scrolled .nav-link {
  position: relative;
}

.scrolled .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #d63447;
}

.scrolled .logo-link {
  text-decoration: none;
}

.scrolled .logo {
  color: #000;
}

@media (max-width: 992px) {
  .no-scroll {
    overflow: hidden;
  }

  .navbar-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu-overlay {
    display: block;
  }

  .menu-toggle a {
    color: #fff !important;
  }

  .menu-toggle a:active {
    color: #d63447 !important;
  }

  .scrolled .menu-toggle a {
    color: #000 !important;
  }

  .scrolled .menu-toggle a:active {
    color: #d63447 !important;
  }
}

@media (min-width: 576px) {
  .navbar-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar-container {
    max-width: 960px;
  }

  .navbar-links {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-menu-overlay {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar-container {
    max-width: 1140px;
  }
}
