.portfolio-section {
  padding: 3.5rem 0;
  background-color: #000;
}

.portfolio-container {
  width: 100%;
  border: 0.1px solid rgb(46, 46, 46);
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.portfolio-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem !important;
}

.portfolio-text-h2 {
  font-family: "Raleway", sans-serif;
  line-height: 30px;
  font-size: 32px;
  color: #fff;
  font-weight: 900;
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.filter-wrap {
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 20px;
}

.filter-link {
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px !important;
  color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  font-weight: 300;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.filter-link:hover {
  color: #fff;
  transform: scale(1.1);
}

.filter-wrap .active {
  color: #fff;
}

.filter-link:active {
  transform: scale(0.95);
  color: #fff;
}

.gsap-reveal {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: translateX(0);
  transform-origin: left;
  transition: transform 1s ease;
  z-index: 1;
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(4, fit-content);
  grid-template-rows: repeat(2, fit-content);
  padding-bottom: 30px;
  grid-gap: 20px;
  width: 100%;

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    height: 500px;
  }

  #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
    height: 300px;
  }

  #item-2 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
    height: 300px;
  }

  #item-3 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
    height: fit-content;
  }

  #item-4 {
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;
    height: 190px;
  }

  #item-5 {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
    height: 500px;
  }
}

.portfolio-wrapper.landing-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    height: 500px;
  }

  #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
    height: 300px;
  }

  #item-2 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
    height: 300px;
  }

  #item-3 {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
    height: 500px;
  }

  #item-4 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 4;
    width: 620px;
    height: 300px;
    display: flex;
  }
}

.portfolio-wrapper.exp-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
    height: fit-content;
  }

  #item-1 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    height: 230px;
  }

  #item-2 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
    height: fit-content;
  }
  #item-3 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
    height: fit-content;
  }

  #item-4 {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 2;
    grid-column-end: 5;
    height: fit-content;
  }

  #item-5 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .portfolio-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .portfolio-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .portfolio-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .portfolio-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .portfolio-container {
    max-width: 1140px;
  }
}
